<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yywspace.module_mine">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppMine"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/mine_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MineAppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".user.activity.MineActivity"
            android:theme="@style/MineAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".user.activity.UserInfoDetailActivity"
            android:parentActivityName=".user.activity.MineActivity"
            android:theme="@style/MineAppTheme" />
        <activity
            android:name=".user.activity.ReservationRuleActivity"
            android:parentActivityName=".user.activity.MineActivity"
            android:theme="@style/MineAppTheme" />

        <activity
            android:name=".user.activity.UserInfoReservationListActivity"
            android:parentActivityName=".user.activity.MineActivity"
            android:theme="@style/MineAppTheme" />

        <activity
            android:name=".user.activity.UserInfoStatisticAnalysisActivity"
            android:parentActivityName=".user.activity.MineActivity"
            android:theme="@style/MineAppTheme" />

        <activity
            android:name=".user.activity.UserInfoFavouriteOrgActivity"
            android:parentActivityName=".user.activity.MineActivity"
            android:theme="@style/MineAppTheme" />
        <activity
            android:name=".user.activity.UserFavouriteOrgActivity"
            android:parentActivityName=".user.activity.MineActivity"
            android:theme="@style/MineAppTheme" />
    </application>

</manifest>